* {
  box-sizing: border-box;
  
}
body {
  color: #424748;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  font-size: 20px;
}
a {
  color: #00B7FF;
}


table {
  margin-top: 30px;
}
table thead th {
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#list {
font-size: 18px;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

.expired-flight {
  color: red;
}